#logo-container img {
    width: 100%;
    height: auto;
    }

/* Style the header */
.header {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    opacity: 1;
    }

    /* Style the header nav links */
    .header a {
        float: left;
        color: #414141;
        text-align: left;
        padding: 12px;
        text-decoration: none;
        font-size: 16px;
        line-height: 25px;
        border-radius: 4px;
        }

        /* Change the background color on mouse-over */
        .header a:hover {
            background-color: #1C9C98;
            color: white;
            text-decoration: none;
            }

        /* Style the active/current link*/
        .header a.active {
            background-color: #1C9C98;
            color: white;
            text-decoration: none;
            }

/* Format nav links */
.header-right {
    float: right;
    padding: 30px;
    }

body, html {

    width: 100%;
    font-family: 'Lato', sans-serif;
    background-image: url(../images/white-marble-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

/* Style cards */
.contact-card {
    padding: 20px;
}

.contact-card-disclaimer {
    float: center;
}

/* Container for hero image */
.container { 
    text-align: center;  
    /* Position and center the image to scale nicely on all screens */
    position: relative;
    margin-top: 0px;
    }

    #introduction .container { 
        text-align: center;  
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        position: relative;
        }

#skills .card-text-contact-2 {
        text-align: left;
        color:#414141;
        font-size: 20px;
        padding: 14px;  
        margin-top: 60px;  
    }

#skills .card-text-about-2 {
        text-align: left;
        color:#414141;
        font-size: 20px;
        padding: 14px;  
        margin-top: 60px;  
    }

#skills .card-text-about-2 {
        text-align: left;
        color:#414141;
        font-size: 20px;
        padding: 14px;  
        margin-top: 60px;  
    }

.card-about {
    top-margin: 30px;
    width: 100%;
    margin-bottom: 60px;
    padding: 40px;
}

#skills .section-heading {
    text-align: left;    
}

/* Style typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #414141;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    border: none;
}

h2 {
    font-size: 28px;
    color: #414141; 
    align-content: center;
    text-align: center;
    }

h3 {
    font-size: 28px;
    font-weight: normal;
    color:#414141;
    text-align: center;
    padding: 10px;
    }
    
    h4 {
        font-size: 22px;
        font-weight: normal;
        color: white; 
        padding: 2px;
        text-align: center;
        }  
    
    h5 {
        font-size: 22px;
        font-weight: lighter;
        color: #414141;
        text-align: center;
        margin-bottom: 5px;
    }
    
    h6 {
        font-size: 28px;
        font-weight: bolder;
        color: #414141;
        text-align: center;
        margin-bottom: 5px;
    }

.h3-intro {
    font-size: 28px;
    font-weight: semibold;
    color:#414141;
    text-align: center;
}

    .card-container .h3 {
        font-size: 28px;
        font-weight: normal;
        color:#414141;
        text-align: center;
        padding: 14px;
        margin-bottom: 20px;
        }

.display {
    font-family: 'Lato', sans-serif;
    color:#414141;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
} 

.display-case-study {
    font-family: 'Lato', sans-serif;
    color:#414141;
    font-size: 44px;
    font-weight: lighter;
    text-align: center;
} 

.disclaimer-text {
    font-size: 14px;
    font-weight: normal;
    color: #414141;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.case-study-text {
    font-size: 15px;
    font-weight: normal;
    color: #414141;
    text-align: center;
    margin-top: 5px;
}

#introduction {
    align-items: center;
}

#introduction h6 {
    font-size: 28px;
    color:#414141;    
}

p {
    font-size: 21px;
    font-weight: lighter;
    color:#414141;
    font-weight: normal;
    text-align: center;
    padding: 0;
}

.form-text {
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: #414141;
    font-size: 18px;
    font-weight: bolder;
}

.form-group {
    align-items: center;
    position: flex;
}

li {
    font-size: 20px;
    color:#414141;
    font-weight: lighter;
    padding: 2px;
    text-align: left;
}

/* Button 1 */
    .button {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to left,#1C9C98,#30CCB9);
    color: white;    
    padding: 16px 55px;
    align-items: center;
    font-size: 19px;
    font-weight: normal;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    }

/* Button states */
.button:active {
    opacity: 0.7;
    text-decoration: none;
    color: white;             
    }

    .button:hover {
        opacity: 0.7;
        text-decoration: none;
        color: white;             
        }
/* End button 1 states */

/* Button 2 */
.button2 {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to left,#1C9C98,#30CCB9);
    color: white;    
    padding: 16px 55px;
    align-items: center;
    font-size: 19px;
    font-weight: normal;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    }

/* Button states */
.button2:active {
    opacity: 0.7;
    text-decoration: none;
    color: white;             
    }

    .button2:hover {
        opacity: 0.7;
        text-decoration: none;
        color: white;             
        }
/* End button 2 states */

.card-container {
border-radius: 10px;
}

.card-body {
    text-align: center;
    width: 100%;
}

.card-index {
    text-align: center;
    width: 90%;
}

.fieldset {
    font-family: 'Lato', sans-serif;
}

/* Footer Styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 0;
    opacity: 1;
}

    .footer a {
        color: white;
    }

    footer {
        display: flex;       
        height: 100px;
        margin-bottom: 0;
        opacity: 1;
        }
    
/* Style all font awesome icons */
.fa {
    transition: all .2s ease-in-out;
    padding: 10px 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #30ccb9;
    border-radius: 100px;
    justify-content: space-between;
    align-items: flex-end;
    }
  
  /* Add a hover effect if you want */
  .fa:hover {
    transform: scale(1.2); 
    background-color:#1C9C98;
    text-decoration: none;
    color: white;
    }
  
  /* Set a specific color for each brand */
  
  /* LinkedIn */
  .fa-linkedin {
    color: white;
    }
  
  /* Twitter */
  .fa-twitter {
    color: white;
  }

  /* Instagram */
  .fa-instagram {
    color: white;
  }

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    
    .header a {
        float: none;
        display: block;
        align-items: center;
       }

    .header-right {
        float: none;
        }

    .flex-container {
      flex-direction: column;
    }  

    .logo-container {
    align-items: center;
    }
      
}